.tasksContainer {
  max-width: 46rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
}

.infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infos span {
  font-weight: bold;
  font-size: 0.875rem;
  align-items: center;
}

.infos span:hover {
  text-decoration: underline;
}

.infos strong {
  content: '0';
  color: var(--gray-200);
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  background: var(--gray-400);
  border-radius: 999px;
}

.filterButton {
  display: flex;
  gap: 0.5rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.created {
  color: var(--blue-300);
}

.done {
  color: var(--purple-300);
}

@media (max-width: 350px) {
  .infos {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}